# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator Python
*.pyproject.user
*.pyproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# Python
__pycache__
.venv
.coverage
.pyc

# Poetry
dist
poetry.lock
*.egg-info

# PyInstaller
build
*.spec

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store
*.app
*.dmg

# Docs
docs/_build

# VSCode
.vscode

# Pixi
.pixi/

# Large files
*.hdf
*normalized.tiff
*sample.tiff
*open_beam.tiff
ProofOfConcept/sample_data/*.tiff
ProofOfConcept/sample_data/*

# Misc
..*
*.log
*.zip
.ci/
.idea/
